<section id="benefits" class="benefits-section">
    <div class="container benefits-container" id="benefits-container">
        <h2 class="visually-hidden">Benefits</h2>
        <ul class="benefits-ul">
        <li class="benefits-ul-li">
            <img src="./img/hero-chocolate.svg" alt="hero-chocolate" id="benefits-img" width="62px" height="62px" class="benefits-img animate__animated animate__delay-1s">
            <h3>Unsurpassed taste</h3>
            <p>Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
        </li>
        <li>
            <div class="vl"></div>
        </li>
        <li class="benefits-ul-li">
            <img src="./img/money-hero.svg" alt="money-hero" id="benefits-img" width="62px" height="62px" class="benefits-img animate__animated animate__delay-3s">
            <h3>Affordable price</h3>
            <p>Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.</p>
        </li>
        <li>
            <div class="vl"></div>
        </li>
        <li class="benefits-ul-li">
            <img src="./img/spoon-hero.svg" alt="spoon-hero" id="benefits-img" width="62px" height="62px" class="benefits-img animate__animated animate__delay-5s">
            <h3>Own production</h3>
            <p>We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.</p>
        </li>
    </ul>
</div>
</section>