<section class="footer">
    <div class="container">
    <div class="footer-container ">
        <h2 class="footer-container-h2"><span style="color: #FD9222;">Chocolate</span> a delicious cure for a bad day</h2>
        <div class="footer-links">
            <div class="footer-social-networks">
            <p class="footer-text contact" >Social networks</p>
            <ul>
                <li><img src="./img/inst-white.svg" alt="instagram" width="24" height="24"></li>
                <li><img src="./img/face-white.svg" alt="facebook" width="24" height="24"></li>
                <li><img src="./img/twitter-white.svg" alt="twitter" width="24" height="24"></li>
            </ul>
        </div>
        <div class="footer-contacts-container">
            <p class="footer-text contact">Contact us</p>
            <address class="footer-address">
                <ul class="footer-address-ul">
                    <li><a href="tel:380684439426">+380 (68) 443-94-26</a></li>
                    <li><a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
                </ul>
            </address>
        </div>
    </div>
    </div>
        <hr>
        <nav class="footer-nav">
            <ul class="footer-ul">
                <li><a href="">Home</a></li>
                <li><a href="#process">How it’s made?</a></li>
                <li><a href="">Chocolate is loved</a></li>
            </ul>
            <form class="footer-input-container">
            <input placeholder="Enter your email" type="email" class="footer-input" required>
            <button type="submit" class="footer-button" >Subscribe</button>
            </form>
        </nav>
    </div>
</section>