<dialog class="backdrop-container overflow" id="backdrop_container">
    <div class="container">
        <div class="form-container">
            <svg width="28" height="28" class="modal-svg-close" id="module_close">
                <use href="./img/icons.svg#modal-close"></use>
            </svg>
            <h3 class="modal-text">LEAVE A REVIEW ABOUT <span class="modal-span-text">OUR CHOCOLATE</span></h3>
            <form action="" class="modal-from">
                <div class="modal-input-block">
                    <label class="modal-label" for="user-name">Name</label>
                    <div class="modal-input-container">
                        <input type="text" class="modal-input" id="user-name" name="user-name" placeholder="Enter your name" required>
                        <svg class="modal-svg-input" width="24" height="24">
                            <use href="./img/icons.svg#modal-person"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-input-block">
                    <label class="modal-label" for="user-email">Email</label>
                    <div class="modal-input-container">
                        <input type="email" class="modal-input" id="user-email" name="user-email" placeholder="Enter your email address" required>
                        <svg class="modal-svg-input" width="24" height="24">
                            <use href="./img/icons.svg#modal-letter"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-input-block">
                    <label class="modal-label" for="user-phone">Phone</label>
                    <div class="modal-input-container">
                        <input type="tel" class="modal-input" id="user-phone" name="user-phone"  placeholder="Enter your phone number" required>
                        <svg class="modal-svg-input" width="24" height="24">
                            <use href="./img/icons.svg#modal-phone"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-input-block">
                    <label for="modal-textarea" class="modal-label">Comment</label>
                    <textarea name="modal-textarea" id="modal-textarea" class="modal-textarea" placeholder="Enter text"></textarea>
                </div>
                <div class="module-privacy-container">
                    <input type="checkbox" id="user-privacy" value="true" name="user-privacy" class="modal-checkbox visually-hidden">
                    <label for="user-privacy" class="modal-privacy-label">
                        <span class="modal-span">
                            <svg class="modal-svg" width="11" height="11    ">
                                <use href="./img/icons.svg#modal-tick"></use>
                            </svg>
                        </span><p>I accept the terms and conditions of the  <a href="" class="modal-form-checkbox-ladel-label-a"> Privacy Policy</a></p> 
                   </label>
                </div>
                <button type="submit" class="module-submit-button">Send</button>
            </form>
        </div>
    </div>
</div>
</dialog>