<div class="container">
    <nav class="navigation-bar">
        <ul class="navigation-list">
            <li>
                <a href="/index.html" class="navigation-logo"><span class="navigation-logo-span">SIMPLY</span> CHOCOLATE<img width="24" height="24" src="./img/logo.svg" alt="logo"></a>
            </li>
        </ul>
        <ul class="navigation-list links">
            <li><a href="">Home</a></li>
            <li><a href="#process">How it’s made?</a></li>
            <li><a href="#loved-section">Chocolate is loved</a></li>
        </ul>
        <ul class="navigation-list icons">
            <li><a href="#"><img src="./img/instagram.svg" alt="inst"></a></li>
            <li><a href="#"><img src="./img/facebook.svg" alt="facebook"></a></li>
            <li><a href="#"><img src="./img/twitter.svg" alt="twitter"></a></li>
        </ul>
        <!-- <svg class="mobile-menu-button-svg" height="28" width="28" id="mobile_open" style="fill: black;">
            <use href="./img/icons8-menu.svg" ></use>
        </svg> -->
        <img src="./img/icons8-menu.svg" class="mobile-menu-button-svg" alt="mobile-menu-icon" height="28px" width="28px" id="mobile_open">
    </nav>
    <div class="mobile-menu-container" id="mobile_container">
        <svg width="28" height="28" class="mobile-svg" id="mobile_close">
            <use href="../img/icons.svg#modal-close">
            </use>
        </svg>
            <ul class="mobile-menu-links">
                <li class="mobile-menu-item" ><a href=""><p id="mobile_nav_item" onclick="closeMobileMenu()">Home</p></a></li>
                <li class="mobile-menu-item" ><a href="#process"  ><p id="mobile_nav_item" onclick="closeMobileMenu()">How it’s made?</p></a></li>
                <li class="mobile-menu-item" ><a href="#loved-section"><p id="mobile_nav_item" onclick="closeMobileMenu()">Chocolate is loved</p></a></li>
            </ul>
            <ul class="mobile-menu-social">
                <li class="mobile-menu-link-item">
                    <svg class="mobile-link-svg" height="20" width="20">
                        <use href="./img/icons.svg#instagram-white"></use>
                    </svg>
                </li>
                <li class="mobile-menu-link-item">
                    <svg class="mobile-link-svg" height="20" width="20">
                        <use href="./img/icons.svg#facebook-white"></use>
                    </svg>
                </li>
                <li class="mobile-menu-link-item">
                    <svg class="mobile-link-svg" height="20" width="20">
                        <use href="./img/icons.svg#twitter-white"></use>
                    </svg>
                </li>
            </ul>
</div>
</div>