<section class="products section-padding">
    <div class="container">
    <h2 class="products-h2" id="buy-now">OUR <span style="color: #FD9222;">PRODUCTS</span></h2>
    <ul class="products-ul">
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/orange.jpg" alt="orange-chocolate"><h3>orange </h3><p>Dark chocolate</p> <button type="button" class="products-button">45 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/apple.jpg" alt="apple-chocolate"><h3>APPLE&CRANBERRY</h3><p>Milk chocolate</p> <button type="button" class="products-button">50 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/lime-salt.jpg" alt="lime-salt-chocolate"><h3>lime&sea salt</h3><p>Dark chocolate</p> <button type="button" class="products-button">66 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/pineapple.jpg" alt="pineapple-chocolate"><h3>pineapple</h3><p>Dark chocolate</p> <button type="button" class="products-button">54 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/classic.jpg" alt="classic-chocolate"><h3>Classic</h3><p>Milk chocolate</p> <button type="button" class="products-button">45 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/honey.jpg" alt="honey-chocolate"><h3>honey</h3><p>Milk chocolate</p> <button type="button" class="products-button">50 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/roasted.jpg" alt="roasted-chocolate"><h3>Roasted fruits</h3><p>Dark chocolate</p> <button type="button" class="products-button">66 UAH</button></li>
        <li class="products-ul-li"><img class="products-ul-li-img" src="./img/classic-white.jpg" alt="classic-white-chocolate"><h3>Classic</h3><p>White chocolate</p> <button type="button" class="products-button">54 UAH</button></li>
    </ul>
</div>
</section>