<section class="sellers-section section-padding">
    <div class="container">
    <h2><span style="color: #FD9222;">top </span>sellers</h2>
    <ul class="sellers-ul">
        <li class="sellers-ul-li">
            <div class="sellers-overlay">
                <img src="./img/chocolate-with-nuts.jpg" alt="chocolate-with-nuts">
                <div class="sellers-overlay-p">
                    <p class="" >Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
                </div>
            </div>
            <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>        
        </li>
        <li class="sellers-ul-li">
            <div class="sellers-overlay">
                <img src="./img/chocolate-with-fruits.jpg" alt="chocolate-with-nuts">
                <p class="sellers-overlay-p">Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
            </div>
            <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>        
        </li>
        <li class="sellers-ul-li">
            <div class="sellers-overlay">
                <img src="./img/dark-fruits.jpg" alt="chocolate-with-nuts">
                <p class="sellers-overlay-p">Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
            </div>
            <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>        
        </li>
    </ul>          
</div> 
</section>