<section class="sellers-section section-padding">
    <div class="container">
    <h2><span style="color: #FD9222;">top </span>sellers</h2>
    <ul class="sellers-ul">
        <li class="sellers-ul-li card" id="sellers-ul-li">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>
                    <img src="./img/chocolate-with-nuts.jpg" alt="chocolate-with-nuts">
                </div>
                <div class="card__face card__face--back">
                    <p class="" >Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
                </div>
            </div>      
        </li>
        <li class="sellers-ul-li " id="sellers-ul-li">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>
                    <img src="./img/chocolate-with-nuts.jpg" alt="chocolate-with-nuts">
                </div>
                <div class="card__face card__face--back">
                    <p class="" >Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
                </div>
            </div>      
        </li>
        <li class="sellers-ul-li " id="sellers-ul-li">
            <div class="card__inner">
                <div class="card__face card__face--front">
                    <h3 class="sellers-h3">CHOCOLATE WITH NUTS</h3>
                    <img src="./img/chocolate-with-nuts.jpg" alt="chocolate-with-nuts">
                </div>
                <div class="card__face card__face--back">
                    <p class="" >Chocolate with fruit is an unbeatable combination of two of the tastiest things in the world. This dessert combines delicate and aromatic chocolate with fresh and juicy fruits, creating a true poetry of taste.</p>
                </div>
            </div>      
        </li>
    </ul>          
</div> 
</section>