.sellers-section h2{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.sellers-ul{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.sellers-ul-li{

    width: 368px;

    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);   
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);   
    border-left: 1px solid rgba(17, 17, 17, 0.10);  
    background: #FFF;
    overflow: hidden;
    position: relative;
}

.sellers-overlay{
    overflow: hidden;
    position: relative;
}



.sellers-overlay:hover .sellers-overlay-p{
    transform: translatey(0);
}

.sellers-section ul li img{
    object-fit: cover;
}

.sellers-h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin: 28px 0;
}
.card {
  perspective: 1000px;

}

.card__inner {
  height: 544px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}


.card__face {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.card__face--front {

}

.card__face--front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face--back {
  transform: rotateY(180deg);
}
  