/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./navigation.css');
@import url('./hero.css');
@import url('./benefits.css');
@import url('./ingredients.css');
@import url('./production.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./modal.css');
@import url('./mobile-styles.css');
@import url('./up-button.css');

.container{
 width: 1136px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

.section-padding{
  padding-top: 120px;
}

.overflow-hidden {
  overflow: hidden;
}




@media (min-width:320px) {
  .container{
    width: 320px;
  }
}



@media (min-width:768px) {
  .container{
    width: 768px;
  }
}
@media (min-width:1136px) {
  .container{
    width: 1136px;
  }
}