.up-button-container{
    z-index: 999;
    position: absolute;
    bottom: 70px;
    right: 70px;
    transition: all .4s;
}

/* Схована кнопка з анімацією з'явлення і зникнення */
.scroll-to-top-hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: unset;
}

/* Анімація з'явлення */
.scroll-to-top-show {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}


.up-button{
    position: fixed;
    border-radius: 50%;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FD9222;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;}

.up-arrow{
    fill: #fff;
    rotate: 180deg;
    position: relative;
}